.container {
    width: 600px;
    margin: 40px auto;
}

.repo-list {
    border: 1px solid #ddd;
    max-height: 650px;
    overflow: scroll;
    margin-top: 20px;
    position: relative;
}

.repo {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
}

.search input{
    height: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.avatar{
    margin-right: 10px;
}

.user-details{
    display: flex;
    flex-direction: column;
}

.avatar img{
    height: 50px;
    width: 50px;
}

.loading {
    height: 50px;
    margin: 20px;
    /* position: fixed;
    top: 0px;
    background-color: black;
    width: 100%; */
}